* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu Sans", sans-serif;
}

header {
    background-image: url(img/jumbo.png);
    background-size: 100%;
}

header nav {
    display: flex;
    padding: 15px 0;
    justify-content: space-around;

}

#logonav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3px;
    width: 230px;
    height: 35px;
}

#ulnav {
    display: flex;
    align-items: center;
    color: white;
    width: 600px;
    height: 35px;
}
nav div a {
    padding-right: 30px;
    color: white;
}

nav div li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*  Pulsante Accedi */
.loginnav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: black;
    background-color: white;
    border-radius: 19px;
    padding: 10px 22px;
}

header section {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 80px;
    width: 100%;
    height: 400px;
    
}

#titheader {
    font-size: 50px;
    padding-bottom: 30px;
}

p {
    font-size: 19px;
    padding-bottom: 50px;
}

.contheader {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
    width: 800px;
    height: 350px;
}

.pulsheader {
    display: flex;
    flex-direction: row;
}


#pulsbianco {
    color: black;
    background-color: white;
    border-radius: 25px;
    padding: 10px 22px;
    margin: 20px;
}

#pulsnero {
    color: white;
    background-color: black;
    border-radius: 25px;
    padding: 10px 22px;
}

.secbianca {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
}

/* Contenuto immagini */
.contblu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 760px;
    height: 400px;
}

/* Contenuto testo */
.controsa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 380px;
    height: 400px;
}

body section h1 {
    font-size: 45px;
    padding-bottom: 20px;
}

.secgrigio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    width: 100%;
    height: 700px;
}

#secultimagrigio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    width: 100%;
    height: 1000px;
}

#secverde {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1080px;
    height: 950px;
    padding: 70px;
}

#ultsecverde {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 19px;
}

#tastblu {
    color: rgba(255, 255, 255, 0.756);
    background-color: rgba(0, 162, 255, 0.607);
    border-radius: 25px;
    padding: 10px 22px;
    margin: 30px;
}

#tescentro {
    text-align: center;
}

footer {
    background-color: rgb(26, 26, 26);
}

footer section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
}

#secrossa {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    width: 360px;
    height: 500px;
}

footer section h2 {
    color: rgb(0, 138, 252);
    font-size: 45px;
    padding-bottom: 20px;
}

footer section img {
    width: 20px;
    
}

footer section span {
    color: white;
}

#icons {
    display: flex;
    flex-direction: row;
}

.paddicons {
    fill: white;
    padding: 25px 30px 10px 0;
}

.secverdechiaro {
    display: flex;
    margin-top: 69px;
    width: 180px;
    height: 450px;
    
}

.padd {
    display: flex;
    flex-direction: column;
}

.secverdechiaro span {
    color: dodgerblue;

}

.secverdechiaro a {
    color: white;
}

footer nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 125px;
}

#secacqua {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1080px;
    height: 55px;
}

#logofooter {
    display: flex;
    align-items: center;
    background-color: indianred;
    border-style: dashed;
    padding: 3px;
}

#bottfooter {
    display: flex;
    align-items: center;
    background-color: indianred;
    border-style: dashed;
    padding: 3px;
}

hr {
    margin: 0 15%;
    border-color: rgba(121, 201, 255, 0.203);
}